# Gradle
.gradle/
build/

# Android Studio / IntelliJ IDEA
.idea/
*.iml

# Module build & NDK
app/build/
app/.cxx/
.cxx/
.externalNativeBuild/

# Local SDK path (machine-specific)
local.properties

# Captures & misc
/captures
.DS_Store

# Keystore (uncomment if you use a local debug keystore)
# *.jks
# *.keystore
